langchain
langgraph
langchain-core
langchain-community
python-dotenv
langchain-groq
IPython
arxiv
wikipedia-api
langchain-tavily
langchain_huggingface
langgraph-cli[inmem]
faiss-cpu
sentence-transformers